
:root{
    --vivid-blue-green:#0ae1ff;
    --white:#eefbf5;
    --black: #212121;
}

@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('assets/font/MonumentExtended-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MonumentExtended-Ultrabold';
    src: url('assets/font/MonumentExtended-Ultrabold.otf') format('opentype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MonumentExtended-Regular', sans-serif;
}

html,body{
    background-color: var(--black);
    color: aliceblue;
}
h1{
    font-size: 17px;
}

p{
    font-size: 12px;
}

#home{
    display: flex;
}

#homeleft {
    width: 50%;
    height: 100%;
    font-size: 85px;
    margin: 20px;
    padding: 20px;
}

#homeright {
    width: 50%;
    height: 100%;
    font-size: 80px;
    margin: 20px;
    padding: 20px;
}

#homeright button{
    font-size: 35px;
    padding: 35px;
    margin: 20px;
    color: rgb(247, 255, 255);
    background-color: #000;
    border-radius: 20px;
    border-color: aqua;
    border-width: 5px;
}

/* #About {
    width: 100%;
}

#main {
    display: flex;
    height: 100vh;
    margin: 19px 200px;
    padding-block: 130px;
    gap: 10px;
}

#left {
    width: 30%;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 18px;
}

#right {
    width: 70%;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 18px;
}

#topright{
    width: 100%;
    height: 50vh;
    background-color: white;
    border-radius: 18px;
}

#bottomright{
    display: flex;
    width: 100%;
    height: 45vh;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    border-radius: 18px;
}

#leftbottomright{
    width:50%;
    height: 43vh;
    background-color: white;
    margin: 10px;
    border-radius: 18px;
}

#rightbottomright{
    width:50%;
    height: 43vh;
    background-color: aqua;
    margin: 10px;
    border-radius: 18px;
} */

#about{
    /* background-color: white; */
    padding-inline: 20px;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    gap: 10px;
    margin-top: 100px;
}

#about>.left{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
    align-items: end;
    padding-bottom: 50px;
}

#about>.left span{
    display: block;
    background-color: rgb(67, 67, 67);
    color: white;
    margin-block-end: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 10px;
    text-align: right;
    width: fit-content;
}

#about>.left h1{
    margin-top: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

#about>.right{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about>.right h1{
    margin-bottom: 10px;
}

#about>.right div{
    background-color: white;
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

#about>.right .up-right{
    height: 40%;
}

#about>.right .down-right{
    display: flex;
    height: 60%;
    gap: 10px;
}

#about>.right .right{
    background-color: var(--vivid-blue-green);
}

#about img{
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media(max-width:700px){
    #about{
        flex-direction: column;
    }

    #about>.left{
        width: 100%;
        padding-bottom: 10px;
    }
    #about>.right{
        width: 100%;
    }

    #about>.right div{
        padding-bottom: 70px;
    }
}

@media(max-width:350px){
    #about>.right>.down-right{
        display: flex;
        flex-direction: column;
    }
}